<!DOCTYPE html>
<html>

<head>
	<title>PAYU</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
	

	<!-- HEADER -->
	<table width="600" border="0" cellpadding="0" cellspacing="0" align="center">
		<tr>
			<td align="center">
				<img src="http://www.cl-ag.com/germania/images/news/img1.jpg" alt="Germania" style="display:block;" />
			</td>
		</tr>
	</table>
	<table width="600" border="0" cellpadding="0" cellspacing="0" align="center">
		<tr>
			<td align="center">
				<img src="http://www.cl-ag.com/germania/images/news/img2.jpg" alt="Germania" style="display:block;" />
			</td>
		</tr>
	</table>
	<table width="600" border="0" cellpadding="0" cellspacing="0" align="center">
		<tr>
			<td align="center">
				<img src="http://www.cl-ag.com/germania/images/news/img3.jpg" alt="Germania" style="display:block;" />
			</td>
		</tr>
	</table>
		<table width="600" border="0" cellpadding="0" cellspacing="0" align="center">
		<tr>
			<td align="center">
				<img src="http://www.cl-ag.com/germania/images/news/img4.jpg" alt="Germania" style="display:block;" />
			</td>
		</tr>
	</table>
		<table width="600" border="0" cellpadding="0" cellspacing="0" align="center">
		<tr>
			<td align="center">
				<img src="http://www.cl-ag.com/germania/images/news/img5.jpg" alt="Germania" style="display:block;" />
			</td>
			<td style="color: #ac8652; font-size: 20px;">
				<p><?php echo $content_html; ?></p>

				<p>Faça os seus pedidos, calcule a quantidade exata de chopp
				ou cerveja para o seu evento, acompanhe as nossas promoções
				e muito mais! Aproveite as vantagens e a praticidade
				de fazer parte da família Germânia!</p>


				<p>Se você tiver alguma dúvida sobre a sua conta
				ou qualquer outro assunto, entre em contato com a nossa
				Central de Relacionamento. É só escrever para:
				atendimento@germania.com.br</p>

				<p>Atenciosamente,<br>
				Equipe Germânia.</p>

			</td>
			<td align="center">
				<img src="http://www.cl-ag.com/germania/images/news/img7.jpg" alt="Germania" style="display:block;" />
			</td>
		</tr>
	</table>

	<table width="600" border="0" cellpadding="0" cellspacing="0" align="center">
		<tr>
			<td align="center">
				<img src="http://www.cl-ag.com/germania/images/news/img8.jpg" alt="Germania" style="display:block;" />
			</td>
		</tr>
	</table>

	<table width="600" border="0" cellpadding="0" cellspacing="0" align="center">
		<tr>
			<td align="center">
				<img src="http://www.cl-ag.com/germania/images/news/img9.jpg" alt="Germania" style="display:block;" />
			</td>
		</tr>
	</table>




</body>

</html>
