<?php echo $header; ?>


		<figure class="container">
		<div class="row">
			<div class="timeline text-center">
				
					
					<div class="col-md-12">
						<div id="timeline-embed" class="linha-do-tempo">
              <!-- Aqui entra a Timeline.JS -->
            </div>


              <script>
              var vvTimeline;

              vvTimeline = (function() {
                var config;

                config = {
                  width: '100%',
                  height: '664',
                  source: 'http://www.cl-ag.com/new_germania/historia.json?callback=onJSONP_Data',
                  embed_id: 'timeline-embed',
                  js: 'http://www.cl-ag.com/new_germania/js/timeline.js',
                  css: 'http://www.cl-ag.com/new_germania/css/timeline.css',
                  debug: false,
                  start_zoom_adjust: 3
                };

                function vvTimeline() {window.createStoryJS(config);}

                return vvTimeline;

              })();

              var tl = new vvTimeline();
              </script>

					</div>
					
					
					
				
			</div>
			</div>
		</figure>

<br><br><br><br><br><br>
		

	
		
<?php echo $footer; ?>