@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700');

*{margin:0; padding: 0; list-style: none; border:none; text-decoration: none;}
body{font-family: 'Source Sans Pro', sans-serif;}
.topo{background: url('../images/bg-header.jpg') no-repeat center top #062a39; min-height: 171px;}
.navbar{background: #c74e38; border-radius: 0; min-height: 41px; margin-bottom: 0;}
.navbar ul li a{color: #FFF; text-transform: uppercase;}
.nav>li>a:focus, .nav>li>a:hover{background: #c74e38;}
.menu-primary{width: 100%; height: 38px; background: url('../images/divisor.png') no-repeat right bottom;}
.menu-primary ul{display: inline-block;}
.menu-primary ul li{display: inline-block;}
.ico-lig{position: relative;}
.ico-lig li img {position: absolute;left: -27px;top: -8px;}
.telefone{color: #FFF; font-weight: bold; font-size: 20px; padding:0 20px 0 35px; background: #c74e38; min-height: 37px; margin-bottom: 0; line-height: 30px; }
.logo{display: inline-block; text-indent: -9999px; height: 98px; width: 264px; background: url('../images/logo-germania.png') no-repeat; margin-top: 0; }
.link{background: #ac8652; min-height: 37px; margin:0; padding-right: 15px; margin-left: 20px;}
.link a{color: #FFF; line-height: 37px;}
.link li{border-left: 1px solid #FFF; padding: 0 20px;}
.social li{margin-left: 15px;}
.box-calcule{border:1px solid #ac8652; position: relative; min-height: 80px; margin-top: 27px;}
.box-calcule span{color: #FFF; width: 80px; display: inline-block; margin:20px 60px 0 0;}
.box-calcule img{position: absolute; right: 0; bottom: -15px;}
#dropdownMenu1{background: transparent; border: none; padding-top: 20px;}
#dropdownMenu1 .caret{color:#ac8652; }
.ola-visitante{color: #FFF; display: block; padding-top: 5px;}
.campo{background: transparent; border: 1px solid #1f4c73; border-radius: 0; height: 28px; margin-top: 25px; color: #FFF; }
.carrossel .col-md-4{padding: 0;}
.carrossel .col-md-4 img{min-height: 181px;}
.box-preto{background: url('../images/bg-destaque.jpg') no-repeat center top #000; width: 100%; height: 362px; display: inline-block; position: relative;}
.box-preto .col-md-5 img{position: absolute; top: -20px;}
.box-preto h2{color: #9e7a5b; font-size: 18px; font-weight: normal;}
.box-preto h3{font-size: 16px; color: #FFF; margin-bottom: 0;}
.box-preto h4{font-size: 18px; color: #FFF; margin: 0;}
.box-preto p{font-size: 16px; color: #FFF; padding-right: 15px; margin-top: 10px;}
.box-preto a{color: #FFF; border: 1px solid #ac8652; padding: 5px 30px; margin-top: 10px; display: inline-block;}
.product-layout{border: 1px solid #d0d0d0; border-bottom: 0; border-right: 0;}
.product-layout .col-lg-3{text-align: center; padding: 20px 0 15px 0; border-bottom: 1px solid #d0d0d0; border-right: 1px solid #d0d0d0;}
.product-layout .col-lg-3 img{float: none; display: inline-block;}
.product-thumb button{ width: 100%; background: transparent; border-top: 1px solid #d0d0d0; padding-top: 15px; color: #002737; font-weight: bold; font-size: 16px; }
.product-thumb h4 a{color: #002737;}
.product-thumb h4{margin-bottom: 5px;}
.product-thumb p{color: #616161; font-size: 14px;}
p.price{color: #ac8652; font-size: 18px; padding-bottom: 20px;}
.box-red{width: 100%; background: #c74e38; padding: 20px 0;}
.newsl{max-width: 800px;}
.newsl .col-md-3{position: relative;}
.ajusta-img{position: absolute; top: -130px;}
.newsl .box-heading{color: #FFF; text-transform: uppercase; font-weight: bold; font-size: 18px;}
.newsletter-email{background: none; border-radius: 0; border:1px solid #FFF; color: #FFF; padding: 3px 10px; margin-right: 15px;}
.newsletter-button{color: #FFF; border-radius: 0; background: #ac8652; padding: 5px 5px;}
.coluna{display: inline-block; margin-right: 30px;}
footer h3{color: #FFF; font-size: 16px; font-weight: normal;}
footer ul li a, footer p{color: #9f7a5a; font-size: 12px;}
footer p strong{color: #c74e38; font-size: 18px; display: block;}
footer{background: #1b2c40; padding: 40px 0 0 0;}
.linha-final{background: #1e354a; padding: 20px 0; margin-top: 40px;}
.banner-faq{background: url('../images/bg-faq.jpg') no-repeat; height: 153px;}
.tit{display: inline-block; margin:0; color: #FFF;  line-height: 153px; font-size: 25px;}
.panel-default>.panel-heading{background: transparent; text-align: center; border: none; border-radius: 0;}
.panel-default, .panel-body, .panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body{border:0; box-shadow: none;}
.panel-heading{border-bottom: 1px solid #ac8652 !important;}
.panel-heading h4 a{color: #bbbbbb;}
.panel-body{background: url('../images/bg-pergunta.jpg') repeat-y center top; padding: 80px 200px; color: #FFF;}

.banner-revendedor{background: url('../images/bg-revendedor.jpg') no-repeat right top #000; height: 545px; color: #FFF; font-size: 18px;}

.banner-orcamento{background: url('../images/banner-orcamento.jpg') no-repeat right top #000; height: 365px; color: #FFF; font-size: 18px; padding-left: 60px;}
.banner-orcamento .col-md-7{position: relative}
.banner-orcamento .col-md-7 img{position: absolute; top: 27px;}
.banner-orcamento h5{font-size: 20px; text-align: left; margin: 20px 0; display: inline-block;}
.banner-orcamento h5 b{color: #c74e38;}
.banner-orcamento .col-md-5{text-align: left;}

.banner-orcamento input[type="text"]{max-width: 350px; border-radius: 0; background: transparent; border:1px solid #FFF;color: #c74e38;}
.banner-orcamento input[type="submit"]{max-width: 120px; background: #c74e38; border:none; color: #FFF; float: right; margin-right: 80px;}


.banner-orcamento ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #c74e38;
}
.banner-orcamento ::-moz-placeholder { /* Firefox 19+ */
  color: #c74e38;
}
.banner-orcamento :-ms-input-placeholder { /* IE 10+ */
  color: #c74e38;
}
.banner-orcamento :-moz-placeholder { /* Firefox 18- */
  color: #c74e38;
}

.banner-revendedor h4.tit{line-height: 30px; margin-bottom: 30px;}
.banner-revendedor .col-md-3{padding: 50px 20px 50px 50px;}
.padding0{padding: 0;}
.form{padding: 47px;}
.revend{background: #e0e0e0;}
.form input[type="submit"]{background: #c74e38; border-radius: 0; color: #FFF; border:none;}
.form input[type="text"], .form select{border:1px solid #000; background: transparent; color: #c74e38; border-radius: 0; }



.form ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #c74e38;
}
.form ::-moz-placeholder { /* Firefox 19+ */
  color: #c74e38;
}
.form :-ms-input-placeholder { /* IE 10+ */
  color: #c74e38;
}
.form :-moz-placeholder { /* Firefox 18- */
  color: #c74e38;
}


.bg-cinza{background: #e0e0e0; padding: 70px 140px; display: table;}
.bg-cinza h5{color: #1b2c40; font-size: 22px; margin-bottom: 50px; display: inline-block}
.bg-cinza input[type="text"], .bg-cinza select{border-radius: 0; background: transparent; border:1px solid #000; color: #c74e38;}
.bg-cinza select{color: #c74e38; }
.bg-cinza input[type="submit"]{background: #c74e38; border-radius: 0; color: #FFF; border:none;}

.box-azul{background: #123645; padding: 70px 120px; color: #FFF;}
.box-azul h3{color: #c74e38; display: block; margin-bottom: 40px; font-size: 32px;}
.box-azul p{padding: 0 150px; font-size: 18px;}

.box-preciso{background: url('../images/bg-preciso.jpg') no-repeat center top; height: 609px;}
.box-preciso h3{display: inline-block; margin: 100px 0 80px 0; font-size: 26px; color: #1b2c40; font-weight: bold; }
.box-preciso p{ color: #FFF; font-size: 18px;}


.box-local{background: url('../images/bg-local.jpg') no-repeat center top; height: 636px;}
.box-local h3{display: inline-block; margin: 100px 0 80px 0; font-size: 26px; color: #1b2c40; font-weight: bold; }
.box-local p{ color: #ac8652; font-size: 18px;}

.box-investir{background: url('../images/bg-investir.jpg') no-repeat center top; height: 587px;}
.box-investir h3{display: inline-block; margin: 100px 0 80px 0; font-size: 26px; color: #1b2c40; font-weight: bold; }
.box-investir p{ color: #FFF; font-size: 18px;}

.box-ajudinha{background: url('../images/bg-ajudinha.jpg') no-repeat center top; height: 1049px;}
.box-ajudinha h3{display: inline-block; margin: 110px 0 80px 0; font-size: 29px; color: #c74e38; font-weight: bold; }
.box-ajudinha p{ color: #FFF; font-size: 20px;}



.bg-cinza ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #c74e38;
}
.bg-cinza ::-moz-placeholder { /* Firefox 19+ */
  color: #c74e38;
}
.bg-cinza :-ms-input-placeholder { /* IE 10+ */
  color: #c74e38;
}
.bg-cinza :-moz-placeholder { /* Firefox 18- */
  color: #c74e38;
}

.navbar-toggle{border:1px solid #FFF;}
.navbar-toggle .icon-bar{background: #FFF;}

.banner-capa{background: url('../images/bg-capa.jpg') no-repeat right top; height: 408px; color: #FFF; font-size: 18px; padding-left: 60px; padding-top: 100px }
.banner-capa p{font-size: 16px; color: #123645;}

img{border:none !important;}


.modal-content.diferente{background: transparent; box-shadow: none;}
.modal-content.calcu{background: url('../images/modal-calculadora.png') no-repeat; box-shadow: none; margin-top: 140px; height: 164px;}
.modal-content.calcu .modal-header{border: none;}
.maior{background: url('../images/modal.png') no-repeat; width: 100%; height: 714px; background-size: 100%; position: relative;}
.maior h2{padding-top: 230px; color: #FFF;font-size: 20px; text-transform: uppercase; font-weight: normal;}
.maior h2 b{color: #c74e38; font-weight: normal; }
.modal-content .btns{position: absolute; top: 40%; left: 50%; margin-left: -160px;}
.nao, .nao:hover, .nao:focus{background: transparent; border:1px solid #ac8652; color: #FFF; padding: 10px 60px;border-radius: 0; margin-right: 20px;}
.sim, .sim:hover, .sim:focus{background: #c74e38; border:none; color: #FFF; padding: 11px 60px;border-radius: 0;}

.bg-amazonia{ 
  background: url('../images/guarana-amazonia.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.box-calcule{cursor: pointer;}

.moduletable select, .moduletable input[type="text"]{border:1px solid #000; background: transparent; color: #000; height: 35px; border-radius: 0; margin: 0 10px 0 20px; padding: 0 30px;}
.moduletable input[type="button"]{background: #c74e38; color: #FFF; height: 35px; padding: 0 20px;}

.moduletable ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000;
}
.moduletable ::-moz-placeholder { /* Firefox 19+ */
  color: #000;
}
.moduletable :-ms-input-placeholder { /* IE 10+ */
  color: #000;
}
.moduletable :-moz-placeholder { /* Firefox 18- */
  color: #000;
}

.close{color: #c74e38; opacity: 1; padding-top: 10px;}
.resultado{
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 34px;
}


/*Incluir no CSS Font e Body*/
.banner-capa-loja{background: url('../images/bg-nossa-lojas.jpg') right top; min-height: 370px; color: #FFF; font-size: 18px; padding: 50px 200px 50px 200px; }
.banner-capa-loja select{color: #c74e38; background: transparent; border: 1px solid #FFF; border-radius: 0;}
.resultado-loja h3{color: #c74e38;}



@media only screen and (max-width: 992px) {

    .telefone{ width: 100%; margin: 0; text-align: center; padding-left: 0; }
    .coluna-info.pull-right{float: none !important;}
    .box-azul {
    background: #123645;
    padding: 70px 20px;
    color: #FFF;
}
.box-azul p{padding: 0;}
.bg-cinza {
    background: #e0e0e0;
    padding: 70px 20px;
    display: table;
}
}