<div id="search" class="form-group">
  <input type="text" name="search" value="<?php echo $search; ?>" placeholder="<?php echo $text_search; ?>" class="form-control campo" />
  <span style="display: none;" class="input-group-btn">
    <button type="button" class="btn btn-default campo"><i class="fa fa-search"></i></button>
  </span>
</div>


			