<style>
  .carosel .item{float: left; width: 50%;}
</style>
<div id="slideshow<?php echo $module; ?>" class="owl-carousel" style="opacity: 1;">
 
</div>



<figure class="container">
      <div class="row">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">

     <?php 
      $conta = 0; 
    
     foreach ($banners as $banner) { 

    $conta ++;

    //echo $conta


     ?>

  <div class="item <?php echo ( $conta == 1 )? 'active': '';  ?>">
    <?php if ($banner['link']) { ?>
    <a href="<?php echo $banner['link']; ?>"><img src="<?php echo $banner['image']; ?>" alt="<?php echo $banner['title']; ?>" class="img-responsive" /></a>
    <?php } else { ?>
    <img src="<?php echo $banner['image']; ?>" alt="<?php echo $banner['title']; ?>" class="img-responsive" />
    <?php } ?>
  </div>
  <?php } ?>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
    </figure>


    <section class="container carrossel">
    <div class="row">
      <div class="col-md-4">
        <div class="carosel">
                <div class="item">
                  <a href="index.php?route=product/category&path=20_61"><img src="images/cerveja-germania-vinhedo.jpg" alt=""></a>
                </div>
                <div class="item">
                  <a href="index.php?route=product/category&path=20_63"><img src="images/cerveja-germania-pilsen.jpg" alt=""></a>
                </div>
               
                
              </div>
  
        <div class="carosel">
                 <div class="item">
                  <a href="http://www.cl-ag.com/germania/index.php?route=product/category&path=20_64"><img src="images/amazonia-beer.jpg" alt=""></a>
                </div>
                <div class="item">
                 <a href="http://www.cl-ag.com/germania/index.php?route=product/category&path=20_62"> <img src="images/cerveja-escura.jpg" alt=""></a>
                </div>
               
                
              </div>

      
      </div>
      <div class="col-md-4">
        <div class="box-preto">
          <div class="row">
            <div class="col-md-5 hidden-xs"><img src="images/produto.png" alt=""></div>
            <div class="col-md-7 mobile">
              <h2>PRODUTO<br>EM DESTAQUE</h2>
              <h3>CHOPP</h3>
              <h4>GERMÂNIA BLACK</h4>
              <p>O Chopp Black Germânia é um saboroso teste para os sentidos.</p>
              <a href="chopp/chopp-black">Saiba mais</a>
            </div>

          

          </div>
        </div>
      </div>
      
        <div class="col-md-4">
        <div class="carosel">
               
                <div class="item">
                  <a href="http://www.cl-ag.com/germania/chopp/chopp-claro"><img src="images/chopp-pilsen.jpg" alt=""></a>
                </div>
                <div class="item">
                  <a href="http://www.cl-ag.com/germania/chopp/chopp-escuro-2"><img src="images/chopp-escuro.jpg" alt=""></a>
                </div>
               
                
              </div>

              <div class="carosel">
               
                <div class="item">
                  <a href="http://www.cl-ag.com/germania/chopp/chopp-slow-beer"><img src="images/chopp-slow-beer.jpg" alt=""></a>
                </div>
                <div class="item">
                  <a href="http://www.cl-ag.com/germania/chopp/chopp-black"><img src="images/chopp-black.jpg" alt=""></a>
                </div>
               
              </div>
      
      </div>

    </div>
  </section>


  <script>




  </script>






